@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}

.pixelated {
  image-rendering: pixelated;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}
